*{
	padding: 0px;
	margin: 0px;
}
header{
	width: 100%;
	height: 100%;
	margin: 0% 0%;
}
.nav{
	width: 100%;
	height: 100%;
	background: #666666;
	border-bottom: 2px solid blue;
	border-top: 1px solid blue;
}
.nav ul li{
	list-style: none;
	display: inline-block;
	position: relative;
}
.nav ul li a{
	display: inline-block;
	padding: 20px 76.5px;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}
.nav ul li a:hover{
	color: #000000;
	background: yellow; 
}
.nav ul li ul{
	position: absolute;
	background: #666666;
	left: -9999px;
}
.nav ul li:hover ul{
	left: 0px;
}
.nav ul li ul li{
	width: 100%;
	text-align: center;
	border-bottom: 2px solid skyblue;
}










.banner-cover{
	width: 100%;
	height: 80vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner-text{
	padding: 100px;
	text-align: center;
}
.banner-text button{
	font-size: 200%;
	font-weight: bolder;
	text-transform: uppercase;
	padding: 1%;
	border-radius: 30px;
	background:#e3c2a7;
	color: darkblue;
	margin: 8% 0.5%;
	border-color: black;
	transition: .5s;
}
.banner-text button:hover{
	transform: scale(.8);
}











.about-section{
	background: #DCE7E5;
	padding: 40px 0px;
	border-top: 20px solid black;
}
.tittle{
	width: 250px;
	height: auto;
	margin: 0 940px;
}
.tittle h1{
	font-size: 40px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1%;
	border-bottom: 2px solid red;
	text-align: center;
	margin-bottom: 30px;
}
.about-logo img{
	width: 560px;
	height: 360px;
	margin: 0 10px;
	margin-bottom: 10px;
	box-shadow: 0px 8px 10px 0px #000;
}
.about-text{
	width: 800px;
	height: auto;
	padding: 0px 80px;
}
.about-text h2{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 2px solid red;
	margin-bottom: 20px;
}
.about-text p{
	font-size: 22px;
	color: gray;
	line-height: 22px;
}
.row{
	overflow: auto;
}
.col{
	float: left;
}












.service-section{
	background: #B7BBB2;
	padding: 40px 100px;
	border-top: 20px solid black;
}
.title h2{
	color: blue;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}
.service{
	width: 420px;
	height: 250px;
	border: 1px solid #fff;
	text-align: center;
	display: inline-block;
	margin: 10px;
}
.service h3{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.service p{
	font-size: 20px;
	color: gray;
	line-height: 22px;
	padding: 0px 15px;
}
.serv-icon i{
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	transition: .5s;
}
.serv-icon i :hover{
	color: yellow;
	transform: scale(.8);
}











.contact-section{
	background: #cacaca;
	padding: 40px 0px;
	border-top: 20px solid black;
}
.title h3{
	font-size: 40px;
	font-weight: bolder;
	text-transform: uppercase;
	padding-bottom: 15px;
	color: darkred;
	text-align: center;
}
.contact{
	background: #e7a6f7;
	padding: 15px 15px 15px 80px;
	box-shadow: 0px 8px 10px 0px #000;
	width: 400px;
	height: auto;
	position: relative;
	display: inline-block;
	margin: 0px 10px;
}
.cont-text p{
	text-align: right;
	padding: 0;
	margin: 0;
	font-size: 20px;
	line-height: 22px;
}
.cont-icon i{
	position: absolute;
	width: 50px;
	height: 50;
	float: left;
	top: 8px;
	left: 15px;
	background: #222;
	text-align: center;
	color: #fff;
	line-height: 50px;
	font-size: 30px;
	transition: .5s;
}
.cont-icon i:hover{
	color: yellow;
	transform: scale(.8);
}
.contact-from{
	width: 620px;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;
}
.input-Tag input{
	text-align: center;
	font-size: 20px;
	text-transform: none;
	padding: 10px 10px;
	width: 80%;
	border: 0;
	margin: 8px 0px;
}
.input-Tag textarea{
	width: 518px;
	height: 200px;
	border: 0;
}
.input-Tag button{
	width: 84%;
	padding: 10px 0px;
	background: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 4px;
	border: 0;
}












footer{
	width: 100%;
	height: auto;
	background: #f7f49f;
	color: darkred;
	padding: 30px 0px;
	border-top: 20px solid black;
}
.footer-text{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.footer-icon{
	float: right;
}
.footer-icon i{
	font-size: 30px;
	transition: .5s;
}
.footer-icon i:hover{
	color: darkblue;
	transform: scale(.8);
}